.store-form{
padding: 50px 0;
}

.store-form form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.store-form .form-icon{
text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.store-form .edit_img {
  background-size:cover;
  position:relative;
}

.store-form .item{
border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.store-form input[type=file]::file-selector-button {
  display: none;
}

/* Removing input background colour for Chrome autocomplete */
.store-form input:-webkit-autofill,
.store-form input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.store-form .create-account{
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5791ff;
  border: none;
  color: white;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .store-form form{
      padding: 50px 20px;
  }

  .store-form .form-icon{
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
}