.cart{
  /* border: 1px solid black; */
  position:fixed;
  width:100%;
  max-width: 500px;
  height: 70vh;
  right:0;
  top: 70px;
  z-index: 9999;
  border: solid 1px silver;
  overflow-y: scroll;
  background: #eee;
  padding: 8px;
  border-radius: 15px 0px 0px 32px;
}
.cart .close-btn{
  z-index: 99999;
  top:10px;
  right:10px;
  position:absolute;

}
.cart .btn-item{
  z-index: 99999;
}