header {
  border-bottom: 1px solid rgba(192, 192, 192, 0.445);
  min-height: 70px;
  background: white;
}

.cartIcon .itemCart {
  background: rgb(206, 252, 226);
  padding: 0 8px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 50%;
}


@media (max-width: 989px) {

  .cartBurger {
    display: none;
  }

}