.strip {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stripText_bg {
  background: #00000044;
  padding: 20px;
  border-radius: 20px;
}

.shop_name {
  font-size: 5em;
  font-weight: bold;
  color: #eee;
}

.store__info {
  margin-top: -55px;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.store__info .logo {
  border-radius: 50%;
}

.store__info .text_info {
  font-size: 1.5em;
}

.cat_btn {
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  color: rgba(43, 43, 43, 0.897);
  text-transform: capitalize;
}

.cat_btn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 970px) {
  .strip {
    height: 50vh;
  }
}