@import url('https://fonts.googleapis.com/css?family=Oswald');

.bg_color {
    background: #dadde6;
    font-family: arial;
    height: 100%;
}

.orders_titel {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #fec500;
    padding-left: 10px;
    margin-bottom: 30px;
}

.order_card {
    display: table-row;
    height: 100%;
    padding: 0;
    background-color: #fff;
    color: #989898;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 25px;
    border: 10px solid #dadde6;
}

.order_number {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6;
}

.order_number:before,
.order_number:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #DADDE6;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
}

.order_number:after {
    top: auto;
    bottom: -15px;
}

.order_number .order_text span {
    display: block;
}

.order_number .order_text span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%;
}

.order_number .order_text span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px;
}

.card-cont {
    display: table-cell;
    font-size: 75%;
    padding: 10px 10px 30px 50px;
}

.order_card .badge {
    float: right;
    font-size: 1.3em;
    margin: 12px;
}
.card-cont h3 {
    color: #3C3C3C;
    font-size: 130%;
}

.prod_img {
    height: 50px;
    width: 60px;
    border-radius:50px;
}

@media screen and (max-width: 1150px) {
    .order_card {
        width: 100%;
    }
}